@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color:#FAF9F6;
}

h1 {
  border-top: 5px solid gold;
  border-bottom: 5px solid gold;
  background-color: navy;
  padding-left: 10px;
  padding-right: 10px;
}

h1, h2 {
  color:#FAF9F6;
  font-family: 'Times New Roman', Times, serif;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
